<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
	<title>Trade Deals</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>	
</head>

<style>
	a:link {
 		color: black;
	}
	
	a:visited {
 		color: black;
	}
	a:hover {
  		color: black;
	}
	a:active {
 	 	color: black;
	}
	body {
		background-color: #D3D3D3;
	}
	
	.nav-item {
		font-size: 18px;
	}
	
	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.body-container {
		display: flex;
		justify-content: center;
	}
	
	.white {
		color:#ffffff;
	}
	
	.black-background {
		background-color:#000000;
	}
	
	.select-content {
		width: fit-content;
	}
	
	.table-content {
		display: flex;
	}
	
	.left-table {
		margin-right: 5%;
	}
	
	.right-table {
		margin-left: 5%;
	}
	
	.form-content {
		display: inline-table;
	}
	
	.post-error {
		margin-top: 7%;
	}
	
	label {
		display: flex;
	}
	
	button {
		margin-top: 5%;
	}
	
	caption {
		caption-side: top;
		display: table-caption;
  		text-align: center;
	}
	
	.paypal-buttons {
		display: flex;
	}
</style>

<body>
	<header class="p-3 text-bg-dark">	
		<div class="container header-container">
			<h1 th:text="${company.name}"></h1>
			<ul class="nav nav-pills">
				<li class="nav-item"><a href="/home" class="nav-link text-white" aria-current="page">Home</a></li>
       			<li class="nav-item"><a href="/account" class="nav-link text-white">Account</a></li>
       			<li sec:authorize="hasRole('USER')" class="nav-item"><a href="/your-trade-deals" class="nav-link text-white">Your Trade Deals</a></li>
       			<li class="nav-item"><a href="/your-resale-deals" class="nav-link text-white">Your Resale Deals</a></li>
       			<li class="nav-item"><a href="/profile/search" class="nav-link text-white">Search For Collector</a></li>
       			<li sec:authorize="hasRole('USER')" class="nav-item"><a href="/followers" class="nav-link text-white">Followers</a></li>
       			<li sec:authorize="hasRole('USER')" class="nav-item"><a href="/following" class="nav-link text-white">Following</a></li>
       			<li sec:authorize="hasRole('USER')" class="nav-item"><a href="/contact" class="nav-link text-white">Contact Us</a></li>
       			<li class="nav-item"><a th:href="@{/logout}" class="nav-link text-white">Logout</a>
     		</ul>
		</div>
	</header>
	<div class="container body-container">
		<div class="py-5 text-center">		
			<h2>Poster: <a th:text="${posterInfo.userName}" th:href="@{'/profile?username=' + ${posterInfo.userName}}"></a></h2>
			<div class="table-content">				
				<table class="table table-dark left-table">
				<caption class="h4 text-dark">Items you will receive:</caption>
  				<thead>
  					
   	 				<tr>
      					<th scope="col">Name</th>
      					<th scope="col">Condition</th>
      					<th scope="col" th:if="${!userTradeItemAttrsOne.isEmpty()}" th:text="${userTradeItemAttr[0]}"></th>
      					<th scope="col" th:if="${!userTradeItemAttrsTwo.isEmpty()}" th:text="${userTradeItemAttr[1]}"></th>
   						<th scope="col" th:if="${!userTradeItemAttrsThree.isEmpty()}" th:text="${userTradeItemAttr[2]}"></th>
    				</tr>
  				</thead>
  				<tbody>
					<tr th:each="tradeItem : ${posterTradeItems}"> 
						<td scope="col" th:text="${tradeItem.name}"></td>
						<td scope="col" th:text="${tradeItem.condition}"></td>
						<td scope="col" th:if="${!userTradeItemAttrsOne.isEmpty()}" th:text="${tradeItem.userTradeItemAttrOne}"></td>
						<td scope="col" th:if="${!userTradeItemAttrsTwo.isEmpty()}" th:text="${tradeItem.userTradeItemAttrTwo}"></td>
						<td scope="col" th:if="${!userTradeItemAttrsThree.isEmpty()}" th:text="${tradeItem.userTradeItemAttrThree}"></td>
					</tr>
  				</tbody>
				</table>			
				<table class="table table-dark right-table">
				<caption class="h4 text-dark">Items you will trade:</caption>
  				<thead>
   	 				<tr>
      					<th scope="col">Name</th>
      					<th scope="col">Condition</th>
      					<th scope="col" th:if="${!userTradeItemAttrsOne.isEmpty()}" th:text="${userTradeItemAttr[0]}"></th>
      					<th scope="col" th:if="${!userTradeItemAttrsTwo.isEmpty()}" th:text="${userTradeItemAttr[1]}"></th>
   						<th scope="col" th:if="${!userTradeItemAttrsThree.isEmpty()}" th:text="${userTradeItemAttr[2]}"></th>
    				</tr>
  				</thead>
  				<tbody>
					<tr th:each="tradeItem : ${accepterTradeItems}"> 
						<td scope="col" th:text="${tradeItem.name}"></td>
						<td scope="col" th:text="${tradeItem.condition}"></td>
						<td scope="col" th:if="${!userTradeItemAttrsOne.isEmpty()}" th:text="${tradeItem.userTradeItemAttrOne}"></td>
						<td scope="col" th:if="${!userTradeItemAttrsTwo.isEmpty()}" th:text="${tradeItem.userTradeItemAttrTwo}"></td>
						<td scope="col" th:if="${!userTradeItemAttrsThree.isEmpty()}" th:text="${tradeItem.userTradeItemAttrThree}"></td>
					</tr>
  				</tbody>
				</table>
			</div>
			<h4>The authentication fee is $15.00</h4>
			<div class="paypal-buttons" id="paypal-button-container"></div>
			<form th:action="@{/trade-deal/open/details/credits/accept(id=${openTradeDeal.id})}" method="post">
				<p class="alert alert-danger post-error" th:if="${param.error}" th:text="'Must have enough credits to cover the price of the $15.00 authentication fee.'"></p>
				<button class=" w-15 btn btn-primary btn-lg black-background white" type="submit">Use Account Credits</button>
			</form>
		</div>
	</div>
			
<script th:inline="javascript">
        var clientId = /*[[${@environment.getProperty('paypal.client.id')}]]*/ '';
        document.write('<script type="text/javascript" src="https://www.paypal.com/sdk/js?client-id=' + clientId + '"></' + 'script>');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script th:inline="javascript">
	var FUNDING_SOURCES = [
		paypal.FUNDING.PAYPAL,
		paypal.FUNDING.CARD
	]
	
	var tradeId = /*[[${openTradeDeal.id}]]*/'';	
	
	FUNDING_SOURCES.forEach(function (fundingSource) {
		var button = paypal.Buttons({
			fundingSource: fundingSource,
			createOrder: function(data, actions) {
				return actions.order.create({
                    intent: 'CAPTURE', 
                    purchase_units: [{
                        amount: {
                            value: "15.00",
                            currency_code: "USD"
                        }
                    }],
                    application_context: {
                        shipping_preference: 'NO_SHIPPING'
                    }
                });
            },
            
            onApprove: function(data, actions) {
            	return actions.order.capture().then(function(details) {
					var orderId = details.id;
					var captureId = details.purchase_units[0].payments.captures[0].id;
            		alert("Transaction Success");
            		var token = $("meta[name='_csrf']").attr("content");
            		var header = $("meta[name='_csrf_header']").attr("content");
            		$(document).ajaxSend(function(e, xhr, options) {
            		    xhr.setRequestHeader(header, token);
            		});
            		$.ajax({
            			url: "/trade-deal/open/details/payment/accept?id=" + JSON.stringify(tradeId) + "&order_id=" + JSON.stringify(orderId) + "&capture_id=" + JSON.stringify(captureId),
            			type: "POST",
            			contentType: "application/json",
            			success: function(response) {
            				window.location.href = "/trade-deal/accept/confirmation?id=" + JSON.stringify(tradeId);
            			},
            			error: function(error) {
            				console.error("AJAX POST request failed", error);
            			}
            		});
            		
            	});
 
            },
            
            onCancel: function(data) {
            	return actions.order.capture().then(function(details) {
            		console.log(details);
            		alert("Transaction Cancelled");
            	});
            }  
        });     
	
		if (button.isEligible()) {
			button.render('#paypal-button-container');
		}
	});
</script>		
</body>
</html>